global
    maxconn 4096

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:80
    default_backend servers

backend servers
    balance leastconn
    server server1 your_backend_server1:80 check
    server server2 your_backend_server2:80 check
    # Add more servers as needed
